{
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "none",
	"printWidth": 85,
	"svelteAllowShorthand": false,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
