:root {
	font-size: 16px;
}

* {
	--font-size-medium: 1em;
	--font-size-small: 0.95em;
	--font-size-xsmall: 0.85em;

	--primary-colour-light: hsl(333, 77%, 55%);
	--primary-colour: hsl(333, 77%, 50%);
	--primary-colour-dark: hsl(333, 77%, 45%);
	--secondary-colour-light: hsl(213, 77%, 55%);
	--secondary-colour: hsl(213, 77%, 50%);
	--secondary-colour-dark: hsl(213, 77%, 45%);
	--error-colour: red;

	--width-regular: 440px;

	font-size: var(--font-size-medium);
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	margin: 0;
	padding: 0;
}
